server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: test-service
              uri: http://localhost:8081
              predicates:
                - Path=/test/**
