server:
  port: ${SERVER_PORT:8081}

spring:
  config:
    import: optional:file:.env

  datasource:
    url: jdbc:sybase:Tds:${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.sybase.jdbc42.jdbc.SybDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
